---
http_interactions:
- request:
    method: get
    uri: http://www.kickstarter.com/projects/1397300529/railsapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"75da5432903c1b163d600fcf81fa65b1"'
    body:
      encoding: ASCII-8BIT
      string: ! "<!DOCTYPE html>\n<html class=\"projects_show no-js fontface \" lang=\"en\"
        xml:lang=\"en\" xmlns:fb=\"http://www.facebook.com/2008/fbml\" xmlns=\"http://www.w3.org/1999/xhtml\">\n<head><script
        type=\"text/javascript\">var NREUMQ=NREUMQ||[];NREUMQ.push([\"mark\",\"firstbyte\",new
        Date().getTime()]);</script><title>rails.app by Yehuda Katz &mdash; Kickstarter</title><!--[if
        lt IE 9]>\n  <script src=\"http://html5shim.googlecode.com/svn/trunk/html5.js\"
        type=\"text/javascript\"></script>\n<![endif]-->\n\n\n<meta content=\"text/html;
        charset=utf-8\" http-equiv=\"Content-Type\">\n<meta content=\"telephone=no\"
        name=\"format-detection\">\n<link href=\"/fonts/fonts.css\" media=\"screen\"
        rel=\"stylesheet\" type=\"text/css\">\n<link href=\"http://d297h9he240fqh.cloudfront.net/cache-e1f3b9f54/assets/project_page.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n<!--[if lte IE 7]>\n
        \ <link href=\"http://d297h9he240fqh.cloudfront.net/cache-e1f3b9f54/stylesheets/compass/library/ie.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n<![endif]-->\n\n<link
        href=\"http://d297h9he[...]
